[package]
name = "leukocyte-wasm-filter"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
proxy-wasm = "0.2.2"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
